* {
    margin: 0;
    padding: 0;
    font-family: monospace;
}
body {
    background-color: rgb(232, 228, 220);
}
.my_quizapp {
    width: 320px;
    height: 580px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
    box-shadow: rgb(0 0 0 / 10%) 0px 10px 50px;
    transform: translate(-50%, -50%);
    border-radius: 48px;
}

.image img {
    width: 100%;
    height: 350px;
}

.text {
    width: 90%;
    margin: auto;
}

.text h3 {
    margin-top: 20px;
    font-weight: bold;
    font-size: 25px;
}

.text p {
    margin-top: 10px;
    font-size: 15px;
}
.quizBtn {
    margin-left: 187px !important;
    margin-top: 48px;
}
.quizBtn button {
    font-size: 20px;
    font-weight: 600;
    background-color:#de7533;
    border: none;
    border-radius: 57px 0px 51px 0;
    outline: none;
    color: white;
    padding: 10px 25px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.quizBtn button:hover {
    background-color: #9C8F43;
}
.rules-box.activeInfo {
    opacity: 1;
    z-index: 5;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}
.rules-box {
    width: 320px;
    height: 580px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
    box-shadow: rgb(0 0 0 / 10%) 0px 10px 50px;
    transform: translate(-50%, -50%);
    border-radius: 48px;
    opacity: 0;
    pointer-events: none;
}
.rules-title {
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    border-bottom: 1px solid lightgray;
    padding: 15px;
}
.rules-list {
    width: 80%;
    margin: auto;
}
.rules-list ol {
    margin-left: 8px;
}
.rules-list ol li {
    font-size: 18px;
    font-weight: 400;
    padding: 10px 25px;
}

.buttons button {
    font-size: 20px;
    font-weight: 600;
    background-color:#de7533;
    border: none;
    outline: none;
    color: white;
    padding: 10px 25px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    margin-top: 53px;
}

.exitBtn {
    border-radius: 0px 47px 0px 46px;
}
.exitBtn:hover{
    background-color: #d63031;
}
.continueBtn {
    border-radius: 57px 0px 51px 0;
    margin-left: 25px;
}
.continueBtn:hover {
    background-color: #9C8F43;
}
.questions.questionInfo {
    opacity: 1;
    z-index: 5;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}
.questions {
    width: 320px;
   height: 580px;
   position: absolute;
   top: 50%;
   left: 50%;
   background-color: #fff;
   box-shadow: rgb(0 0 0 / 10%) 0px 10px 50px;
   transform: translate(-50%, -50%);
   border-radius: 48px;
   opacity: 0;
   pointer-events: none;
   
}

.questionsHeader {
    position: relative;
    z-index: 2;
    height: 70px;
    padding: 0 30px;
    border-radius: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.questionsHeader .title {
    font-size: 15px;
    font-weight: 600;
}
.timeCount {
    color: #004085;
    background: #cce5ff;
    border: 1px solid #b8daff;
    height: 25px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 120px;
}
.seconds {
    font-size: 18px;
    font-weight: 500;
    height: 26px;
    width: 45px;
    color: #fff;
    border-radius: 5px;
    line-height: 26px;
    text-align: center;
    background: #343a40;
    border: 1px solid #343a40;
    user-select: none;
}
.time_lines {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    background-color: #9C8F43;
}
.section{
    padding: 25px 30px 20px 30px;
}
.quiz-text {
    font-size: 20px;
    font-weight: 600;
}
.MyOptions {
    padding: 20px 0px;
    display: block;   
}
.options.correct {
    color: #05c46b;
    background-color: #bbf3e2;
    border: 1px solid #68f2c8;
}
.options.incorrect {
    color: #f03531;
    background-color: #e9c4cc;
    border: 1px solid #e16771;
}
.options.disabled {
    pointer-events: none;
}
.options {
    background: aliceblue;
    border: 1px solid #84c5fe;
    border-radius: 5px;
    padding: 12px 20px;
    font-size: 15px;
    margin-bottom: 12px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.options:hover {
    color: #004085;
    background: #cce5ff;
    border: 1px solid #b8daff;
}
.footer{
    height: 122px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid lightgrey;
   
}
.total_que {
    padding-bottom: 10px;
    padding-left: 30px;
    font-size: 14px;
}
.footer button{
    font-size: 20px;
    font-weight: 600;
    padding: 10px 25px;
    outline: none;
    border: none;
    border-radius: 57px 0px 51px 0px;
    box-shadow: rgb(0 0 0 / 10%) 0px 10px 50px;
    background: #de7533;
    cursor: pointer;
    color: #f1f1f1;
    transition: all 0.3s ease;
    display: none;
    /* margin-top: 152px; */

}
.footer .nextBtn:hover{
    background-color: #9C8F43;
    
} 

.questions header .time_lines {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    background-color: #575fcf;
}